trigger:
  - main

pool:
  vmImage: ubuntu-latest

jobs:
  - job: build
    displayName: "Build Job"
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "20.x"
        displayName: "Install Node.js"

      - script: |
          npm install
        displayName: "npm install"
        workingDirectory: src

      - script: |
          npm run build:prod
        displayName: "npm build"
        workingDirectory: src

      - script: |
          npm run test
        displayName: "npm test"
        workingDirectory: src

  - job: cleanup_and_deploy
    displayName: "Cleanup and Deploy Job"
    dependsOn: build
    steps:
      - script: |
          rm -rf src/node_modules
          rm -rf src/dist
          rm -rf .git
        displayName: "Remove node_modules, dist, and .git"

      - task: CopyFilesOverSSH@0
        displayName: "Copy to remote server"
        inputs:
          cleanTargetFolder: true
          sshEndpoint: ssh-team-roster
          contents: "**/*"
          targetFolder: "~/deploy"
          readyTimeout: "20000"
          delayBetweenUploads: "5"
