trigger:
  - main

pool:
  vmImage: ubuntu-latest

jobs:
  - job: build
    displayName: "Build Job"
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "20.x"
        displayName: "Install Node.js"

      - script: |
          npm install
        displayName: "npm install"
        workingDirectory: src

      - script: |
          npm run build:prod
        displayName: "npm build"
        workingDirectory: src

      - script: |
          npm run test
        displayName: "npm test"
        workingDirectory: src

  - job: cleanup_and_deploy
    displayName: "Cleanup and Deploy Job"
    dependsOn: build
    steps:
      - task: DownloadSecureFile@1
        displayName: "download .env.production"
        inputs:
          secureFile: ".env.production"

      - task: CopyFiles@2
        displayName: "Copy .env.production to root front"
        inputs:
          SourceFolder: $(Agent.TempDirectory)
          Contents: '**\.env.production'
          TargetFolder: src/src

      - script: |
          npm install
        displayName: "npm install"
        workingDirectory: src

      - script: |
          npm run build:prod
        displayName: "npm build"
        workingDirectory: src

      - task: CopyFilesOverSSH@0
        displayName: "Copy dist to remote server"
        inputs:
          cleanTargetFolder: true
          sshEndpoint: ssh-team-roster
          contents: "src/dist/**"
          targetFolder: "~/deploy/"
          readyTimeout: "20000"
          delayBetweenUploads: "5"

      - task: CopyFilesOverSSH@0
        displayName: "Copy dockerfile to remote server"
        inputs:
          cleanTargetFolder: true
          sshEndpoint: ssh-team-roster
          contents: "src/DockerFile"
          targetFolder: "~/deploy/"
          readyTimeout: "20000"
          delayBetweenUploads: "5"

      - task: SSH@0
        displayName: "create docker image"
        inputs:
          sshEndpoint: ssh-team-roster
          runOptions: "inline"
          inline: |
            cd ~/deploy/src
            sudo docker build . -t "team-roster-front" 2>&1
